:root {
    --grey: #282634;
    --red: #ff4057;
  }

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-image: url("background.jpg");
    color: white;
    font-size: 1.5rem;
    line-height: 1.5;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background-color: var(--grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.2rem;
}
header img{
    height: 5rem;
    width: 15rem;
}
header nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 3rem;
}
header nav ul li:hover{
    color: var(--red);
    cursor: pointer;
}
header form{
    display: flex;
    padding: 0.5rem;

}
header form input
{
    font-size: 1.5rem;
}
header form button
{
    font-size: 1.5rem;
    padding: 0.2rem;
    background-color: var(--red);
    color: white;
    cursor: pointer;
}
main{
    background-color: var(--grey);
    border: 2px solid var(--grey);
    width: 90%;
    margin: 3rem auto;
    text-align: center;
    font-size: 3rem;
    box-shadow: 5px 5px 10px black;
}
main input{
    font-size: 1.5rem;
    padding: 0.1rem;
}
main button{
    font-size: 1.5rem;
    padding: 0.2rem;
    background-color: var(--red);
    color: white;
    cursor: pointer;
}
/* ------------------------------------footer------------------------------------------ */
footer{
    background-color: var(--grey);
    padding: 3rem;
}
footer h3{
    color: var(--red);
}
footer ul{
    list-style-type: none;
    font-size: 1rem;
}
