:root {
    --grey: #282634;
    --red: #ff4057;
  }

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background:url("../images/main.jpg");
    color: white;
    font-size: 1.5rem;
    line-height: 1.8;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* ----------------------------------------header--------------------------------------------------------- */
header{
    background-color: var(--grey);
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.2rem;
}
header img{
    height: 5rem;
    width: 15rem;
}
header nav ul{
  gap: 3rem;
}
header nav ul li:hover{
    color: var(--red);
    cursor: pointer;
}
header form input{
    font-size: 1.5rem;
    color: black;
}
header form button
{
    font-size: 1.5rem;
    padding: 0.2rem;
    background-color: var(--red);
    color: white;
    cursor: pointer;
}
/* ----------------------------------main-------------------------------------------------- */
main{
    font-size: 3rem;
}
main input{
    font-size: 1.5rem;
    color: black;
}
main button{
    font-size: 1.5rem;
    background-color: var(--red);
    color: white;
    cursor: pointer;
}
.side-bar{
    background-color: skyblue;
    border: 1px solid gray;
    /* opacity: 0.5; */
    color: black;
}
.description{
    color: black;
}
.weatherIcon {
    width: 100px;
    height: 100px;
    /* margin: auto; */
}


